.nav {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 50px;
}

.pagesList {
    display: flex;
    flex-wrap: wrap;
   list-style: none;
   width: 50%;
   height: 100%;
   justify-content: space-evenly;
}
.pages {
    text-decoration: none;
    width: 40px;
    height: 40px;
    padding: 0px 10px;
}
.button {
  width: 100%;
  height: 100%;
  background-color: white;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 50%;
}
.button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  border: 1px solid white
}

@media (max-width: 1024px) {
  .nav {
    display: flex;
    width: 100%;
    height: 30px;
  }
  
  .pagesList {
    display: flex;
    flex-wrap: wrap;
     list-style: none;
     width: 100%;
     height: 100%;
     justify-content: center;
  }
  .pages {
      text-decoration: none;
      width: 30px;
      height: 30px;
      padding: 0;
  }
  .button {
    border-radius: 0;
  }
}