.mainDiv {
    background-image: url('../Images/3.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    padding-top: 200px;
    width: 100%;
    min-height: 100vh;
    background-color: #333;
   
}

.title {
    color: black;
    font-size: 50px;
}
.firstContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button {
  position: relative;
  display: flex;
    height: 70px;
    width: 200px;
    border: 1px solid black;
    overflow: hidden;
    
  }
  
  .button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 25px 10px black;
  }
  
  .button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      black,
      transparent
    );
    transition: all 650ms;
  }
  
  .button:hover:before {
    left: 100%;
  }
  .linkCreate {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 28px;
  }

  .secondContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
  }
  .filterContainer {
    display: flex;
    min-width: 250px;
    min-height: 40px;
    border: 1px white solid;
    padding: 20px
  }
  
  .filterContainer:after {
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }
  .filterTitle {
    width: 100%;
    height: 100%;
    align-self: center;
    color: white;
  }
  .filterContainer select {
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #cccccc; 
    }

    .filterContainer select:hover {
      color: white;
      background-color: black;
      cursor: pointer;
    } 
    .filterContainer select:focus {
      color: white;
      background-color: black;
    } 

  .searchBarContainer {
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    min-height: 40px;
    padding: 20px;
    border: 1px white solid;
  }

  .thirdContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
  }


  @media (max-width: 1024px) {
    .mainDiv {
      padding-top: 80px;
    }

    .firstContainer {
      width: 100%;
      height: 100px;
      justify-content: center;
      align-items: center;
    }
    .title {
      font-size: 25px;
      padding: 0;
    }

    .filterContainer {
      padding: 10px;
    }
    .filterContainer select {
      height: 30px;
      padding: 0px 15px;
    }
    .searchBarContainer {
      padding: 10px;
    }
    .button {
      height: 50px;
      margin-top: 10px;
    }
    .thirdContainer {
      padding-top: 15px;
    }
  }

  @media (max-width: 767px) {
    .mainDiv {
      background-image: url('../images/onder-ortel-Rxo-TxwpKm8-unsplash.jpg');
    }
  }