.mainContainer {
    background-image: url('../Images/brooke-lark-wMzx2nBdeng-unsplash.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid white;
    width: 500px;
    height: 640px;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 100px;
}


label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 26px;
  }

input {
    background-color: #F9FBFC;
    padding: 0;
    color: #1E1E1F;
    font-size: 20px;
    width: 270px;
    border-style: none;
    margin-top: 10px;
 } 
textarea {
    background-color: #F9FBFC;
    color: #1E1E1F;
    font-size: 20px;
    height: 56px;
    width: 270px;
    border-style: none;
    resize: none;
    margin-top: 10px;
    padding: 0;
}
select {
    width: 270px;
    height: 30px;
}
form {
    width: 100%;
    max-width: 300px;
    padding: 33px 40px;
    display: flex;
    align-content: center;
    flex-direction: column;
  }

.createButton {
    background-color:rgb(143, 208, 208);
    height: 50px;
    width: 100px;
    border-radius: 30px;
    align-self: center;
    margin-top: 20px;
    border-style: none;
}
.createButton:hover {
    cursor: pointer;
}
.deleteButton {
    width: 20px;
    height: 20px;
    background-color: red;
}
ul {
    display: flex;
    
    flex-wrap: wrap;
    margin: 0;
    padding-top: 20px;
    padding-left: 0;
    justify-content: space-evenly;
}
li {
    font-size: 10px;
    display: flex;
    width: 90px;
    justify-content: space-between;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

@media (min-width: 381px) and (max-width: 560px) {
    .mainDiv {
        width: 330px;
        height: 700px;
    }
    ul {
        padding-top: 20px;
    }
    textarea {
        height: 100px;
    }
}

@media (max-width: 380px) {
    .mainDiv {
        margin-top: 50px;
        width: 300px;
        height: 90%;
    }
    form {
        display: flex;
        align-items: center;
        padding: 0;
    }
    form div {
        width: 80%;
    }
    input {
        width: 100%;
    }
    textarea {
        font-size: 12px;
        width: 100%;
    }
    label {
        font-size: 14px;
    }
    select {
        width: 80%;
    }
    ul {
        padding-top: 0;

    }
    ul li {
        padding: 0px 10px;
    }
    .createButton {
        margin-top: 0;

    }
}