.mainContainer{
    position: absolute;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-attachment: fixed;
    background-image: url('../Images/lily-banse--YHSwy6uqvk-unsplash.jpg');
    background-size: cover;
}

.link {
    text-decoration: none;
}

.text {
    color: red;
}


.button {
    height: 70px;
    width: 200px;
    text-decoration: none;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    font-size: 38px;
    opacity: 70%;
  }
  
  .button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 25px 10px black;
  }
  
  .button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      black,
      transparent
    );
    transition: all 650ms;
  }
  
  .button:hover:before {
    left: 100%;
  }