.searchBar {
    border-radius: 50px;
    display: flex;
    width: 100%;
}

.button {
    
    width: 50px;
	height: 50px;
    border: 1px solid black;
	background: white;
    color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
    align-self: center;
}

.button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}
.inputSearch {
    margin: 0;
    width: 100%;
	border: 0;
	background: white;
	padding: 15px 20px;
	color: black;
    opacity: 70%;
}
.inputSearch:focus {
    font-size: 22px;
    opacity: 100%;
}
.inputSearch::placeholder {
    font-size: 22px;
}