.cardContainer{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    margin: 30px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    box-shadow: black 0px 20px 30px -10px;
    
    }
.cardContainer a {
    width: 300px;
    height: 220px;
}
.cardContainer a img {
    width: 100%;
    height: 100%;
}
.name {
    font-weight: bolder;
    font-size: 22px;
    
}

.diets {
    font-size: 12px;
    
}

.hs {
    font-weight: bolder;
    
}